<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.xcam.evotor.example">

    <uses-permission android:name="ru.evotor.permission.receipt.print.INTERNET_RECEIPT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ru.evotor.permission.BINARY_NETWORK" />
    <uses-permission android:name="ru.evotor.permission.receipt.printExtra.SET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="app_uuid"
            android:value="${app_uuid}" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <service-->
<!--            android:name=".BeforePositionsEdited"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <action android:name="evo.v2.receipt.sell.beforePositionsEdited" />-->
<!--            </intent-filter>-->

<!--            <intent-filter android:priority="20">-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                &lt;!&ndash; Подписывает службу на событие ReceiptDiscountEvent и указывает смарт-терминалу отображать иконку приложения на экране оплаты чека продажи. &ndash;&gt;-->
<!--                <action android:name="evo.v2.receipt.sell.receiptDiscount" />-->
<!--            </intent-filter>-->
<!--        </service>-->

<!--        <service android:name=".PrintExtraService">-->
<!--            <intent-filter>-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <action android:name="evo.v2.receipt.sell.printExtra.REQUIRED" />-->
<!--            </intent-filter>-->
<!--        </service>-->

<!--        <service-->
<!--            android:name=".device.MyDeviceService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:icon="@drawable/ic_launcher_background"-->
<!--            android:label="Xcam-Virtual-Device">-->
<!--            <intent-filter>-->
<!--                <action android:name="ru.evotor.devices.drivers.PaySystemService" />-->
<!--                <action android:name="ru.evotor.devices.drivers.VirtualDriverManager" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="device_categories"-->
<!--                android:value="PAYSYSTEM" />-->

<!--            <meta-data-->
<!--                android:name="virtual_device"-->
<!--                android:value="true" />-->
<!--        </service>-->


    </application>

</manifest>