<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.xcam.evotor.example">

    <uses-permission android:name="ru.evotor.permission.receipt.print.INTERNET_RECEIPT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ru.evotor.permission.BINARY_NETWORK" />
    <uses-permission android:name="ru.evotor.permission.receipt.printExtra.SET" />
    <uses-permission android:name="ru.evotor.permission.PRINT_Z_REPORT" />
    <uses-permission android:name="ru.evotor.permission.COMBINED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="app_uuid"
            android:value="${app_uuid}" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".combo_payment.ComboPaymentActivity"
            android:exported="true" />

        <service
            android:name=".combo_payment.ComboPaymentService"
            android:exported="true"
            android:label="Оплата 50% предоплатой">
            <meta-data
                android:name="ru.evotor.sales_screen.BACKGROUND_COLOR"
                android:value="@android:color/white" />
            <intent-filter>
                <action android:name="evo.v2.receipt.sell.payment.COMBINED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

    </application>

</manifest>