<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.xcam.disable_print_version_of_receipt">

    <application>
        <service
            android:name=".DisablePrintingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="evo.v2.receipt.sell.printGroup.REQUIRED" />
                <action android:name="evo.v2.receipt.payback.printGroup.REQUIRED" />
            </intent-filter>

        </service>
    </application>

</manifest>